In [2]:
import pandas as pd
import numpy as np

In [10]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
frame2 = frame
frame2["debt"] = np.arange(5.)
frame2["East"] = frame2.state == "Ohio"
frame2

    state  year  pop  debt   East
0    Ohio  2000  1.5   0.0   True
1    Ohio  2001  1.7   1.0   True
2    Ohio  2002  3.6   2.0   True
3  Nevada  2001  2.4   3.0  False
4  Nevada  2002  2.9   4.0  False

In [11]:
del frame2["East"]
frame2

    state  year  pop  debt
0    Ohio  2000  1.5   0.0
1    Ohio  2001  1.7   1.0
2    Ohio  2002  3.6   2.0
3  Nevada  2001  2.4   3.0
4  Nevada  2002  2.9   4.0

In [12]:
frame2.values

array([['Ohio', 2000, 1.5, 0.0],
       ['Ohio', 2001, 1.7, 1.0],
       ['Ohio', 2002, 3.6, 2.0],
       ['Nevada', 2001, 2.4, 3.0],
       ['Nevada', 2002, 2.9, 4.0]], dtype=object)

In [17]:
#Index onjects
obj = pd.Series(range(3), index=["a", "b", "c"])
index = obj.index
index[1:] # this var holds the index of the series

Index(['b', 'c'], dtype='object')

In [20]:
index = pd.Index(np.arange(3))
obj2 = pd.Series([1.5, -2.5, 0], index=index)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [22]:
#Reindexing
obj3 = pd.Series([4.5, 7.2, -5.3, 3.6], index=["d", "b", "a", "c"])
obj3

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [33]:
obj4 = obj3.reindex(["a", "b", "c", "d"])#e bo≈ü kalacak
obj4

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [34]:
obj5 = obj4.reindex(["a", "b", "c", "d", "e", "f"], fill_value=0.0)
obj5

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
f    0.0
dtype: float64

In [37]:
obj6 = pd.Series(["blue", "purple", "yellow"], index=[0,2,4])
obj6.reindex(range(6), method="ffill")#forward fill

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [39]:
obj7 = pd.Series(np.arange(5.), index=["a", "b", "c","d","e"])
new_obj = obj7.drop("c")
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [45]:
obj = pd.Series(np.arange(4.), index=["a", "b", "c","d"])
obj["b"]
obj["b":"d"] = 5
obj

a    0.0
b    5.0
c    5.0
d    5.0
dtype: float64

In [47]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [51]:
data[["three", "one"]]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

AttributeError: 'DataFrame' object has no attribute 'ix'