In [2]:
import numpy as np
import pandas as pd

In [4]:
sp500_px = pd.read_csv(r"C:\Users\yusuf\Downloads\sp500_data.csv.gz")
sp500_sym = pd.read_csv(r"C:\Users\yusuf\Downloads\sp500_sectors.csv")
sp500_sym

,sector,sector_label,sub_sector,symbol
0,information_technology,Technology,data_processing_&_outsourced_services,ADS
1,information_technology,Technology,systems_software,CA
2,information_technology,Technology,systems_software,MSFT
3,information_technology,Technology,systems_software,RHT
4,information_technology,Technology,it_consulting_&_services,CTSH
...,...,...,...,...
512,health_care,Health Care,biotechnology,CELG
513,health_care,Health Care,biotechnology,GILD
514,health_care,Health Care,biotechnology,REGN
515,health_care,Health Care,biotechnology,VRTX
516,health_care,Health Care,health_care_distributors,HSIC